<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>







    <form action="posts" method="POST">
        <input type="text" name="name" placeholder="名前">
        <button type="submit" id="addBtn">追加</button>
    </form>

    <ul id="result">
        <% users.forEach(user => { %>
            <li><%= (`${user.id}: ${user.name}`) %></li>


        <%}) %>
    </ul>


    
</body>
</html>